        <section class="loginSec">
            <article class="login">
                <h1><a href="/"></a></h1>
                <h2>회원가입</h2>
                <h3>가입유형을 선택해주세요.</h3>
                <ul class="loginChoice">
                    <li><a href="join1">
                        <figure class="loginChoice1"></figure>
                        <p>식품셀러</p>
                    </a></li>
                    <li><a href="join2">
                        <figure class="loginChoice2"></figure>
                        <p>프리마켓셀러</p>
                    </a></li>
                    <p class="loginFoot">Ⓒ2016 Daegu traditional Market Support Agency. All Rights Reserved</p>
            </article>
        </section>