<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입 | 선택</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/choice.css">
</head>
<body>
    <main>
        <section class="login">
            <h1><a href="/"></a></h1>
            <h2>회원가입</h2>
            <h3>가입유형을 선택해주세요.</h3>
            <ul>
                <li><a href="join1">
                    식품셀러
                </a></li>
                <li><a href="join2">
                    프리마켓셀러 
                </a></li>
        </section>
        <section class="foot">
            <p>Ⓒ2016 Daegu traditional Market Support Agency.
                All Rights Reserved</p>
        </section>
    </main>
</body>
</html>