<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>통합</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <main>
        <section>
            <ul>
                <li><a href="noti">참여마당</a></li>
                <li><a href="noti_wri">참여마당_상세</a></li>
                <li><a href="manager">참여마당_관리자</a></li>
            </ul>
        </section>
    </main>
</body>
</html>