        <section class="top">
            <article class="t_main">
                <h2>서문시장야시장</h2>
                <div>
                    <ul class="nav_2">
                        <li><a href="">소개</a></li>
                        <li>/</li>
                        <li><a href="">매대위치</a></li>
                        <li>/</li>
                        <li><a href="">오시는 길</a></li>
                    </ul>
                    <ul class="icon_wrap">
                        <li class="facebook">
                            <a href="https://www.facebook.com/nightseomun/"target="_blank"></a>
                        </li>
                        <li class="utube">
                            <a href="https://www.youtube.com/watch?v=OdQ_ya1SF24&t=2s" target="_blank"></a>
                        </li>
                        <li class="naver">
                            <a href="https://blog.naver.com/nightseomun" target="_blank"></a>
                        </li>
                    </ul>
                </div>
            </article>
        </section>
        <section class="intro">
            <article class=intro_txt>
                <h2>서문시장 소개</h2>
                <div>
                    <h5>함께 만들어가는 夜한 테마파크</h5>
                    <h6>서문시장 야시장은 2016년 6월에 개장한,
                        총거리 350M에 달하는 대형 야시장입니다.<br><br>
                        우리나라 3대 시장인 서문시장의 밤거리를 무대로 하여 총 80대의 매대에서 다양한 <br>
                        먹거리, 살거리를 판매하며 매일 저녁, 시민과 관광객에게 즐거움을 선사하는<br>
                        복합문화공간입니다.<br> 
                        <br>
                        특히, 먹거리 일색인 타 야시장과는 달리 먹거리, 볼거리, 즐길거리의 3대 요소가<br> 
                        연중으로 펼쳐지는 마법같은 관광지이기도 합니다.</h6>
                </div>
            </article>
            <figure class=intro_img></figure>
        </section>
        <section class="business_hours">
            <article class="hour">
                <div class="hour_img1"></div>
                <h2>서문시장야시장 영업시간</h2>
                <p>서문시장 야시장이 추천하는 가게들을 둘러보세요.</p>
                <figure class="hour_img2"></figure>
            </article>
        </section>
        <section class="direction">
            <article class="way">
                <div class="way_txtWrap">
                    <h2>오시는 길</h2>
                    <div class="way_txt">
                        <p>서문시장야시장</p>
                        <h5>대구광역시 중구 큰장로26길 45</h5>
                        <p>(지번) 대신동 115-378</p>
                        <p>053-256-6341</p>
                    </div>
                    <div class="way_txt_tab">
                        <a href="">
                            <p>길찾기</p>
                            <span>+</span>
                        </a>
                        <a href="">
                            <p>지도에서 보기</p>
                            <span>+</span>
                        </a>
                    </div>
                </div>
                <div class="way_img"></div>
            </article>
        </section>
        <section class="festival">
            <div class="fes_txt">
                <div>
                    <h2>서문시장 야시장 행사안내</h2>
                    <p>서문시장 야시장과 함께 축제를 즐겨보세요.</p>
                </div>
                <span><a href="">더보기</a></span>
            </div>
            <div class="fex_b">
                <ul>
                    <li>
                        <a href="">
                            <h3>03월 27일</h3>
                            <h2>서문시장 야시장<br>
                                상설공연</h2>
                            <h6>3월 27일 오늘의 일정 입니다.</h6>
                            <p>- 아트지 PM 07:10 ~ PM 07:45</p>
                            <p>- 시하 PM 08:00 ~ PM 08:30</p>
                            <p>- 다트 PM 08:30 ~ PM 09:00</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <h3>03월 26일</h3>
                            <h2>서문시장 야시장<br>상설공연</h2>
                            <h6>3월 27일 오늘의 일정 입니다.</h6>
                            <p>- 아트지 PM 07:10 ~ PM 07:45</p>
                            <p>- 시하 PM 08:00 ~ PM 08:30</p>
                            <p>- 다트 PM 08:30 ~ PM 09:00</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <h3>03월 25일</h3>
                            <h2>서문시장 야시장<br>상설공연</h2>
                            <h6>3월 27일 오늘의 일정 입니다.</h6>
                            <p> - 아트지 PM 07:10 ~ PM 07:45</p>
                            <p> - 시하 PM 08:00 ~ PM 08:30</p>
                            <p> - 다트 PM 08:30 ~ PM 09:00</p>
                        </a>
                    </li>
                </ul>
            </div>
        </section>