<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입 | 식품셀러</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/join1.css">
</head>
<body>
    <main>
        <section class="login">
            <h1><a href="/"></a></h1>
            <h2>식품셀러 회원가입</h2>
            <h3>회원정보를 입력해주세요</h3>
            <ul>
                <li>
                    <span><img class="img img1"></span>
                    <input type="text" placeholder="이름">
                </li>
                <li>
                    <span><img class="img img2"></span>
                    <input type="text" placeholder="아이디 (이메일)">
                </li>
                <li>
                    <span><img class="img img3"></span>
                    <input type="text" placeholder="비밀번호">
                </li>
                <li>
                    <span><img class="img img4"></span>
                    <input type="text" placeholder="비밀번호 확인">
                </li>
                <li>
                    <span><img class="img img5"></span>
                    <input type="text" placeholder="휴대폰">
                </li>
            </ul>
            <span><a href="">가입하기</a></span>
        </section>
        <section class="foot">
            <p>Ⓒ2016 Daegu traditional Market Support Agency.
                All Rights Reserved</p>
        </section>
    </main>
</body>
</html>