<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>서문시장야시장</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/intro.css">
    <link rel="stylesheet" href="./css/layout.css">
    <link rel="stylesheet" href="./css/join.css">
    <link rel="stylesheet" href="./css/login.css">
    <link rel="stylesheet" href="./css/manager.css">
    <link rel="stylesheet" href="./css/noti_wri.css">
    <link rel="stylesheet" href="./css/noti.css">
</head>
<body>
    <header>
        <section class="web_h">
            <article class="headerArt">
                <h1><a href="/"></a></h1>
                <ul class="nav">
                    <li>
                        <a href="intro">야시장 소개<span></span></a>
                        <ul class="navInside">
                            <li><a href="">소개</a></li>
                            <li><a href="">매대위치</a></li>
                            <li><a href="">오시는 길</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="">먹거리살거리</a>
                        <ul class="navInside">
                            <li><a href="">먹거리살거리</a></li>
                            <li><a href="">먹거리</a></li>
                            <li><a href="">살거리</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="">기록자료</a>
                        <ul class="navInside">
                            <li><a href="">갤러리</a></li>
                            <li><a href="">매대위치</a></li>
                            <li><a href="">오시는 길</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="noti">참여마당</a>
                        <ul class="navInside">
                            <li><a href="">공지사항</a></li>
                            <li><a href="">행사안내</a></li>
                            <li><a href="">언론보도</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="">입점신청</a>
                    </li>
                </ul>
                </nav>
                <ul class="loginWrap">
                    <li id="login" onclick="javascript:location.href='/login?'">로그인</li>
                    <div id="mrms"><span id="user"></span>님</div>
                    <li id="logout" onclick="javascript:kakaoLogout()">로그아웃</li>
                </ul>
                <div class="ham"><a href=""></a></div>
            </article>
        </section>
    </header>
    <main>
        <%- body %>
    </main>
    <footer>
        <article class="foot">
            <nav>
                <ul class="city">
                    <li>
                        <a href="https://www.daegu.go.kr/intro.jsp"
                        target="_blank">
                        대구광역시
                        </a>
                    </li>
                    <li><a href="https://www.jung.daegu.kr/"
                        target="_blank">
                        중구청
                        </a>
                    </li>
                    <li><a href="http://www.dtms.or.kr/"
                        target="_blank">
                        대구전통시장진흥재단
                        </a>
                    </li>
                    <li><a href="https://www.mss.go.kr/site/smba/main.do"
                        target="_blank">
                        중소벤치기업부
                        </a>
                    </li>
                    <li><a href="https://www.semas.or.kr/index_main.html"
                        target="_blank">
                        소상공인진흥공단
                        </a>
                    </li>
                </ul>
                <ul class="icon_wrap foot_ver">
                    <li class="facebook">
                        <a href="https://www.facebook.com/nightseomun/"target="_blank"></a>
                    </li>
                    <li class="utube">
                        <a href="https://www.youtube.com/watch?v=OdQ_ya1SF24&t=2s" target="_blank"></a>
                    </li>
                    <li class="naver">
                        <a href="https://blog.naver.com/nightseomun" target="_blank"></a>
                    </li>
                </ul>
            </nav>
            <div>
                <h1 class=""><a href=""></a></h1>
                <h6>대구 남구 대명로 215 대구광역시상인회관4층, 재단법인    대구전통시장진흥재단ㆍ상권육성팀 Admin<br>
                Seomun Night Market Ⓒ2016 Daegu traditional Market Support Agency. All Rights Reserved
                </h6>
            </div>
        </article>
        <ul class="fix_btn" id="side_bar">
            <button class="topBtn" onclick="topFunction()" id="btn_top">
                TOP
            </button>
        </ul>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="./js/kakaoLogin.js"></script>
    <script src="./js/main.js"></script>
    <script src="./js/layout.js"></script>
</body>
</html>