
        <section class="login_2">
            <h1><a href="/"></a></h1>
            <div class="idpw">
                <input type="text" placeholder="아이디">
            </div>
            <div class="idpw">
                <input type="password" placeholder="비밀번호">
            </div>
            <div class="checkbox">
                <input type="checkbox">
                <p>로그인 상태 유지</p>
            </div>
            <span><a href="">로그인</a></span>
            <ul class="bot">
                <li><a href="choice">회원가입</a></li>
                <li>
                    <a href="">아이디찾기</a>
                    <span>|</span>
                    <a href="">비밀번호 찾기</a>
                </li>
            </ul>
        </section>
        <section class="foot_2">
            <p>Ⓒ2016 Daegu traditional Market Support Agency.
                All Rights Reserved</p>
        </section>