
     <section class="loginSec">   
        <article class="login">
            <h1><a href="/"></a></h1>
            <div class="idpw">
                <p>아이디</p>
                <input type="text">
            </div>
            <div class="idpw">
                <p>비밀번호</p>
                <input type="password">
            </div>
            <div class="checkbox">
                <input type="checkbox">
                <p>로그인 상태 유지</p>
            </div>
            <span class="loginBtn">로그인</span>
            <span class="kakaoLogin" onclick="javascript:kakaoLogin()">
            </span>
            <ul class="bot">
                <li><a href="choice">회원가입</a></li>
                <li>
                    <a href="">아이디찾기</a>
                    <span>|</span>
                    <a href="">비밀번호 찾기</a>
                </li>
                <p class="loginFoot">Ⓒ2016 Daegu traditional Market Support Agency. All Rights Reserved</p>
            </ul>
        </article>
    </section>
