        <section class="main_1200">
            <article class="banner_wrap swiper mySwiper">
                <ul class="swiper-wrapper">
                    <li class="banner swiper-slide">
                        <div class="banner_txt">
                            <h5>夜하게 놀자, 대한민국 대표 야시장</h5>
                            <h2>서문시장<span>야시장</span></h2>
                        </div>
                        <figure class="bannerImg-1"></figure>
                    </li>
                    <li class="banner swiper-slide">
                        <div class="banner_txt">
                            <h5>연중무휴 Fantastic Night Party!</h5>
                            <h2>서문시장<span>야시장</span></h2>
                        </div>
                        <figure class="bannerImg-2"></figure>
                    </li>
                    <li class="banner swiper-slide">
                        <div class="banner_txt">
                            <h5>글로벌하게 먹고, 마시고, 즐기는 No.1</h5>
                            <h2>서문시장<span>야시장</span></h2>
                        </div>
                        <figure class="bannerImg-3"></figure>
                    </li>
                </ul>
                <div class="swiper-pagination"></div>
            </article>
            <article class="mainRecoman anchor_area">
                <div class="quick_pos">
                    <ul class="quick">
                        <li><a href="javascript:;" data-anchor="anchor_div1">
                            <p>파트너쉽</p>
                            <span></span>
                        </a></li>
                        <li><a href="javascript:;" data-anchor="anchor_div2">
                            <p>금주의 추천매대</p>
                            <span></span>
                        </a></li>
                        <li><a href="javascript:;" data-anchor="anchor_div3">
                            <p>매대위치</p>
                            <span></span>
                        </a></li>
                        <li><a href="javascript:;" data-anchor="anchor_div4">
                            <p>갤러리</p>
                            <span></span>
                        </a></li>
                        <li><a href="javascript:;" data-anchor="anchor_div5">
                            <p>새로운 소식</p>
                            <span></span>
                        </a></li>
                    </ul>
                </div>
            </article>
        </section>
        <section class="orange_section" id="anchor_div1">
            <article class="main_1200">
                <h2>서문시장 야시장 파트너쉽</h2>
                <h5>서문시장 야시장과 함께 시작하세요!</h5>
                <div class="application">
                    <div>
                        <h4>매대셀러<br>상시모집</h4>
                        <figure class="application-1"></figure>
                        <div><a href="">신청하기<span></span></a></div>
                    </div>
                    <div>
                        <h4>프리마켓<br>상시모집</h4>
                        <figure class="application-2"></figure>
                        <div><a href="">신청하기<span></span></a></div>
                    </div>
                </div>
            </article>
        </section>
        <section class="main_1200 P_100" id="anchor_div2">
            <article class="recoman">
                <h2>금주의 추천매대</h2>
                <h5>서문시장이 추천하는 가게들을 둘러보세요.</h5>
                <div class="recoman_i">
                    <ul>
                        <li id="recoman_i1" class="recomanO">현풍닭강정</li>
                        <li id="recoman_i2">야채뚱땡 삼겹말이</li>
                        <li id="recoman_i3">Mr.남천꼬치</li>
                        <li id="recoman_i4">이모네막창</li>
                        <li id="recoman_i5">또피자</li>
                        <li id="recoman_i6">철판아이스크림</li>
                        <li id="recoman_i7">스테이크새우꼬치</li>
                        <li id="recoman_i8">뉴랍스타치즈구이</li>
                        <li id="recoman_i9">철판아이스크림</li>
                    </ul>
                    <figure>
                        <img class="recomanImg recoman_img1">
                        <img class="recomanImg recoman_img2">
                        <img class="recomanImg recoman_img3">
                        <img class="recomanImg recoman_img4">
                        <img class="recomanImg recoman_img5">
                        <img class="recomanImg recoman_img6">
                        <img class="recomanImg recoman_img7">
                        <img class="recomanImg recoman_img8">
                        <img class="recomanImg recoman_img9">
                    </figure>
                </div>
            </article>
        </section>
        <section class="main_1200 P_100" id="anchor_div3">
            <article class="main_direction">
                <div class="direction_txt">
                    <h2>매대위치</h2>
                    <h5>서문시장의 매력을 함께 즐겨보세요</h5>
                </div>
                <figure></figure>
            </article>
        </section>
        <section class="main_1200 P_100" id="anchor_div4">
            <article class="gallery_top">
                <figure><img src="../img/main_logo_no_txt.png"></figure>
                    <h2>서문시장야시장 갤러리</h2>
                    <h5>당신과 서문시장과의 추억</h5>
                    <p><a href="">더보기+</a></p>
            </article>
            <article class="swiper mySwiper2 ">
                <div class="gallery_bottom swiper-wrapper">
                    <a href="" class="gallery_bottom_img1 swiper-slide">
                        <div class="gallery_bottom_img1TXT">
                            <span></span>
                            <p>7월 웨스트댄서스나잇 'TG Session' 현장속으로!</p>
                        </div>
                    </a>
                    <a href="" class="gallery_bottom_img2 swiper-slide">
                        <div class="gallery_bottom_img1TXT">
                            <span></span>
                            <p>서문야시장 2월초 스케치 #2</p>
                        </div>
                    </a>
                    <a href="" class="gallery_bottom_img3 swiper-slide">
                        <div class="gallery_bottom_img1TXT">
                            <span></span>
                            <p>일본 방문객 스케치</p>
                        </div>
                    </a>
                    <a href="" class="gallery_bottom_img4 swiper-slide">
                        <div class="gallery_bottom_img1TXT">
                            <span></span>
                            <p>제2회 서문가요제 간략스케치</p>
                        </div>
                    </a>
                    <a href="" class="gallery_bottom_img5 swiper-slide">
                        <div class="gallery_bottom_img1TXT">
                            <span></span>
                            <p>드라마 '사자' 첫 촬영 : 서문 야시장에서!!</p>
                        </div>
                    </a>
                    <a href="" class="gallery_bottom_img6 swiper-slide">
                        <div class="gallery_bottom_img1TXT">
                            <span></span>
                            <p>서문야시장 2월초 스케치 #1</p>
                        </div>
                    </a>
                    <a href="" class="gallery_bottom_img7 swiper-slide">
                        <div class="gallery_bottom_img1TXT">
                            <span></span>
                            <p>KSF연계 서문시장 가을축제</p>
                        </div>
                    </a>
                    <a href="" class="gallery_bottom_img8 swiper-slide">
                        <div class="gallery_bottom_img1TXT">
                            <span></span>
                            <p>5월 서문가요제 결선 현장속으로~!</p>
                        </div>
                    </a>
                    <a href="" class="gallery_bottom_img9 swiper-slide">
                        <div class="gallery_bottom_img1TXT">
                            <span></span>
                            <p> [5.26]전통시장 홍보의 장 "2017테마관광 트레블마트"</p>
                        </div>
                    </a>
                </div>
                <div class="galleryPagination"></div>
            </article>
        </section>
        <section class="orange_section_2 M_100" id="anchor_div5">
            <article>
                <h2>새로운 소식</h2>
                <h5>서문시장이 추천하는 가게들을 둘러보세요.</h5>
                <div>
                    <ul class="news">
                        <li><a href="">
                            <h6>공지</h6>
                            <h3>서문·칠성야시장 
                            <br>매대운영자 모집공고</h3>
                            <p>
                                전국을 대표하는 야간관광지 「대구 서문·칠성
                                야시장」에서 뛰어난 열정을 펼칠 수 있는
                                창의적이고 역량이 뛰어난 매대 운영자를
                                모집하오니 많은 참여를 바랍니다.
                            </p>
                            <span>
                                <p>2022.03.29</p>
                                <img src="./img/add_FILL0_wght600_GRAD0_opsz48.png">
                            </span>
                        </a></li>
                        <li><a href="">
                            <h6>공지</h6>
                            <h3>서문·칠성야시장 
                            <br>매대운영자 모집공고</h3>
                            <p>
                                전국을 대표하는 야간관광지 「대구 서문·칠성
                                야시장」에서 뛰어난 열정을 펼칠 수 있는
                                창의적이고 역량이 뛰어난 매대 운영자를
                                모집하오니 많은 참여를 바랍니다.
                            </p>
                            <span>
                                <p>2022.03.28</p>
                                <img src="./img/add_FILL0_wght600_GRAD0_opsz48.png">
                            </span>
                        </a></li>
                        <li><a href="">
                            <h6>공지</h6>
                            <h3>서문·칠성야시장 
                            <br>매대운영자 모집공고</h3>
                            <p>
                                전국을 대표하는 야간관광지 「대구 서문·칠성
                                야시장」에서 뛰어난 열정을 펼칠 수 있는
                                창의적이고 역량이 뛰어난 매대 운영자를
                                모집하오니 많은 참여를 바랍니다.
                            </p>
                            <span>
                                <p>2022.03.27</p>
                                <img src="./img/add_FILL0_wght600_GRAD0_opsz48.png">
                            </span>
                            
                        </a></li>
                    </ul>
                </div>
            </article>
        </section>