        <section class="main_1200">
            <article class="banner_wrap">
                <div class="banner">
                    <div class="banner_txt">
                        <h5>夜하게 놀자, 대한민국 대표 야시장</h5>
                        <h2>서문시장<span>야시장</span></h2>
                    </div>
                    <figure></figure>
                </div>
                <ul>
                    <li><a href="">
                        <p>서문시장파트너쉽</p>
                        <span></span>
                    </a></li>
                    <li><a href="">
                        <p>금주의 추천매대</p>
                        <span></span>
                    </a></li>
                    <li><a href="">
                        <p>야시장 매대위치</p>
                        <span></span>
                    </a></li>
                    <li><a href="">
                        <p>문의하기</p>
                        <span></span>
                    </a></li>
                </ul>
                <div class="smart">
                    <div><a href=""></a></div>
                    <div><a href=""></a></div>
                </div>
            </article>
        </section>
        <section class="orange_section">
            <article class="main_1200">
                <h2>서문시장 야시장 파트너쉽</h2>
                <h5>서문시장 야시장과 함께 시작하세요!</h5>
                <div class="application">
                    <div>
                        <h4>매대셀러<br>상시모집</h4>
                        <figure><img src="../img/app_1.png"></figure>
                        <div><a href="">신청하기<span></span></a></div>
                    </div>
                    <div>
                        <h4>프리마켓<br>상시모집</h4>
                        <figure><img src="../img/app_2.png"></figure>
                        <div><a href="">신청하기<span></span></a></div>
                    </div>
                </div>
            </article>
        </section>
        <section class="main_1200 P_100">
            <article class="recoman">
                <h2>금주의 추천매대</h2>
                <h5>서문시장야시장이 추천하는 가게들을 둘러보세요</h5>
                <div class="recoman_i">
                    <ul>
                        <li><a href="">현풍닭강정</a></li>
                        <li><a href="">혜담분식</a></li>
                        <li><a href="">또피자</a></li>
                        <li><a href="">팟타이</a></li>
                        <li><a href="">홍콩에그와플</a></li>
                        <li><a href="">철판아이스크림</a></li>
                        <li><a href="">랍스타킹</a></li>
                        <li><a href="">반반막창</a></li>
                        <li><a href="">6초밥</a></li>
                    </ul>
                    <figure>
                        <img>
                    </figure>
                </div>
            </article>
        </section>
        <section class="main_1200 P_100">
            <article class="main_direction">
                <a href="">
                    <div class="direction_txt">
                        <h5>夜하게 놀자, 대한민국 대표 야시장</h5>
                        <h2>서문시장야시장<br>매대위치</h2>
                    </div>
                    <figure></figure>
                </a>
            </article>
        </section>
        <section class="gallery P_100">
            <article class="gallery_top">
                <figure><img src="../img/main_logo_no_txt.png"></figure>
                    <h2>서문시장야시장 갤러리</h2>
                    <h5>당신과 서문시장과의 추억</h5>
                    <p><a href="">더보기+</a></p>
            </article>
            <div>
                <div class="gallery_bottom">
                    <figure><img class="gallery_bottom_img1"></figure>
                    <figure><img class="gallery_bottom_img2"></figure>
                    <figure><img class="gallery_bottom_img3"></figure>
                    <figure><img class="gallery_bottom_img4"></figure>
                    <figure><img class="gallery_bottom_img5"></figure>
                </div>
            </div>
        </section>
        <section class="orange_section_2">
            <article>
                <h2>새로운 소식</h2>
                <div>
                    <ul class="news">
                        <li><a href="">
                            <h6>공지</h6>
                            <h3>서문·칠성야시장 
                            <br>매대운영자 모집공고</h3>
                            <p>
                                전국을 대표하는 야간관광지 「대구 서문·칠성
                                야시장」에서 뛰어난 열정을 펼칠 수 있는
                                창의적이고 역량이 뛰어난 매대 운영자를
                                모집하오니 많은 참여를 바랍니다.
                            </p>
                            <span>
                                <p>2022.03.29</p>
                                <img src="../img/plus.png">
                            </span>
                        </a></li>
                        <li><a href="">
                            <h6>공지</h6>
                            <h3>서문·칠성야시장 
                            <br>매대운영자 모집공고</h3>
                            <p>
                                전국을 대표하는 야간관광지 「대구 서문·칠성
                                야시장」에서 뛰어난 열정을 펼칠 수 있는
                                창의적이고 역량이 뛰어난 매대 운영자를
                                모집하오니 많은 참여를 바랍니다.
                            </p>
                            <span>
                                <p>2022.03.28</p>
                                <img src="../img/plus.png">
                            </span>
                        </a></li>
                        <li><a href="">
                            <h6>공지</h6>
                            <h3>서문·칠성야시장 
                            <br>매대운영자 모집공고</h3>
                            <p>
                                전국을 대표하는 야간관광지 「대구 서문·칠성
                                야시장」에서 뛰어난 열정을 펼칠 수 있는
                                창의적이고 역량이 뛰어난 매대 운영자를
                                모집하오니 많은 참여를 바랍니다.
                            </p>
                            <span>
                                <p>2022.03.27</p>
                                <img src="../img/plus.png">
                            </span>
                            
                        </a></li>
                    </ul>
                </div>
            </article>
        </section>