<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>서문시장야시장 | 관리</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/manager.css">
</head>
<body>
    <main>
        <section class="wri">
            <article class="wri_wrap">
                <h2>공지사항 글쓰기</h2>
                <% if(typeof errs !== "undefined") { %>
                    <% errs.forEach((err)=>{%>
                        <h3><%=err.param%> : <%=err.msg%></h3>
                    <% }) %>
                <% } %>
                <form method="POST" action="/store">
                    <div class="top">
                        <div class="topI">
                            <p>이름</p>
                            <input type="text">
                        </div>
                        <div class="topI">
                            <p>비밀번호</p>
                            <input type="password">
                        </div>
                        <span class="button checkbutton">확인</span>
                        <div class="checkbox">                 
                            <input type="radio" name="textType" checked>
                            <p>공지</p>
                            <input type="radio" name="textType">
                            <p>일반글</p>
                        </div>
                    </div>
                    <div class="TDwrap">
                        <div class="tittle">
                            <p>제목</p>
                            <input name="tittle" type="text">
                        </div>
                    </div>
                    <textarea name="content"></textarea>
                    <div class="download">
                        <div></div>
                        <span><a href="">첨부파일</a></span>
                    </div>
                    <div class="button_wrap">
                        <input class="buttonG" onclick="javascript:location.href='/noti'"
                        value="취소" readonly>
                        <input class="button" type="submit" value="작성완료">
                    </div>
                </form>
            </article>
        </section>
    </main>
</body>
</html>