@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

*{
    font-family: 'Noto Sans KR', sans-serif;
}

/***HEADER_START***/
header{
    width: 100%; 
    margin: auto;    
}
header>article{
    width: 1200px;
    background-color: white;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
header>article>h1>a{ 
    display: block;
    width: 120px;
    height: 76px;
    background-image: url(../img/main_logo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav>li>a{
    padding: 20px 30px;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: bold;
    color: #777;
}
.nav>li>a:hover{ 
    color: #FFBB00; 
}
.login>li>a{
    font-size: 14px;
    font-weight: bold;
    color: #777;
}
.login>li>a:hover{
    text-decoration:underline;
}
.ham>a{
    width: 48px;
    height: 34px;
    background-image: url(../img/ham.png);
    display: none;
}
/****FOOTER START***/
footer{
    width: 100%;
    background-color: #454545;
}
.foot{
    width: 1200px;
    margin: auto;
    padding: 40px 0;
}
.foot>nav{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #777777;
}
.city{
    display: flex;
    padding-bottom: 40px;
}
.city>li>a{
    color: #fff;
    font-weight: bold;
    margin-right: 30px;
}
.city>li>a:active{ 
    text-decoration: underline;
}
.icon_wrap{
    display: flex;
    padding-right: 30px;
}
.icon_wrap>li>a{
    width: 50px;
    height: 50px;
    display: block;
    background-image: url(../img/sns_logo.png);
    margin: 0 5px;
}
.facebook>a{
    background-position: -76px -54px;
}
.utube>a{
    background-position: -200px -217px;
}
.naver>a{
    background-position: -200px -162px;
}
.facebook>a:hover{
    background-image: url(../img/sns_logo_C.png);
    background-position: -50px -15px;
}
.utube>a:hover{
    background-image: url(../img/sns_logo_C.png);
    background-position: -175px -180px;
}
.naver>a:hover{
    background-image: url(../img/sns_logo_C.png);
    background-position: -175px -125px;
}
.foot>div{
    display: flex;
    align-items: center;
    margin: 30px 20px;
}
.foot>div>h1>a{
    display: block;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-image: url(../img/main_logo_B.png);
}
.foot>div>h6{
    color: #767676;
    padding-left: 40px;
}
@media only screen and (max-width: 1200px){
    header>article{
        width: 100%;
        padding: 10px 20px;
        box-sizing: border-box;
    }
    .nav>li>a{
        padding: 20px 20px;
        box-sizing: border-box;
        font-size: 16px;
        font-weight: bold;
        color: #777;
    }
    /****/
    section{
        width: 100%;
    }
    /****/
    .foot{
        width: 100%;
    }
}
@media only screen and (max-width: 940px){
    .nav>li>a{
        display: none;
    }
    .login>li>a{
        display: none;
    }
    .ham>a{
        display: block;
    }
    /*****/
    .foot>nav{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: 0px solid #777777;
    }
    .foot_ver{
        display: flex;
    }
    .city>li>a{
        font-size: 8px;
        margin-right: 4px;
    }
    .city>li>a:first-child{
        margin-left: 4px;
    }
    .foot>div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .foot>div>h1>a{
        display: block;
        width: 120px;
        height: 100px;
        background-image: url(../img/main_logo_B.png);
    }
    .foot>div>h6{
        font-size: 10px;
        color: #767676;
        padding: 0;
    }
}