/****MAIN START***/
/* main{
    padding: 30px 0;
} */
.login_2, .foot_2{
    width: 300px;
    margin: auto;
}
.login_2{
    border: 1px solid #e5e5e5;
    padding: 60px 70px;
}
.login_2>h1>a{
    display: block;
    width: 120px;
    height: 76px;
    margin: auto;
    margin-bottom: 30px;
    background-image: url(../img/main_logo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}
.idpw{
    position: relative;
    width: 100%;
    display: flex;
}
.idpw>input{
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid #d9d9d9;
    font-size: 14px;
    font-weight: 500;
    color: #8e8e8e;
    padding: 20px 10px;
    box-sizing: border-box;
}
/***/
.checkbox{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.checkbox>input{
    width: 20px;
    height: 20px;
    background-color: white;
    background-image: url(../img/kakao_icon.png);
    background-position: -31px -31px;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}
.checkbox>input:checked {
    background-color: #FFBB00;
}
.checkbox>p{
    margin-left: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #252525;
}
section>span>a{
    display: block;
    background-color: #FFBB00;
    text-align: center;
    margin: 30px 0;
    padding: 13px 0;
    box-sizing: border-box;
    border-radius: 10px;
    color: #fff;
}
.bot{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bot a{
    font-size: 12px;
    color: #252525;
}
.bot span{
    font-size: 12px;
    color: #8e8e8e;
}
.foot_2{
    width: 440px;
    margin: auto;
    padding: 10px 70px;
}
.foot_2>p{
    text-align: center;
    font-size: 12px;
    line-height: 1.6;
    color: #555;
    
}
@media only screen and (max-width: 540px){
    main{
        padding: 0;
    }
    section{
        width: 100%;
    }
    .login_2{
        border: none;
        padding: 60px 70px;
        box-sizing: border-box;
    }
    .login_2>ul{
        margin-top: 30px;
    }
    .foot_2{
        width: 100%;
        padding: 10px 0px;
        box-sizing: border-box;
    }
    .foot_2>p{
        font-size: 10px;
    }
}