/****MAIN START***/
.login{
    position: relative;
    width: 300px;
    border: 1px solid #e5e5e5;
    padding: 60px 70px;
    margin: 50px auto;
    margin-bottom: 68px;
}
.login>h1>a{
    display: block;
    width: 120px;
    height: 76px;
    margin: auto;
    margin-bottom: 30px;
    background-image: url(../img/main_logo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}
.idpw{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #d9d9d9;
}
.idpw>p{
    font-size: 16px;
    color: #777;
    white-space: nowrap;
    margin-right: 10px;
}
.idpw>input{
    width: 90%;
    padding: 20px 0;
    box-sizing: border-box;
    border: none; outline: none;
    font-size: 14px;
    color: #777;
}
/***/
.checkbox{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.checkbox>input{
    width: 20px;
    height: 20px;
    background-color: white;
    background-image: url(../img/kakao_icon.png);
    background-position: -31px -31px;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}
.checkbox>input:checked {
    background-color: #FFBB00;
    background-position: -91px -141px;
}
.checkbox>p{
    margin-left: 10px;
    font-size: 14px;
    color: #777;
}
.loginBtn{
    cursor: pointer;
    display: block;
    height: 45px;
    background-color: #fff;
    margin-top: 30px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 14px;
    line-height: 45px;
    text-align: center;
    color: #494949;
    border: 1px solid #9e9c9c;
}
.kakaoLogin{
    cursor: pointer;
    display: block;
    height: 45px;
    margin-bottom: 30px;
    background-size: 100% 100%;
    background-position: center;
    background-image: url(../img/kakao_login_medium_wide.png);
}
.bot{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bot a{
    font-size: 14px;
    color: #777;
}
.bot a:hover{
    text-decoration: underline;
}
.bot span{
    font-size: 14px;
    color: #777;
}
.loginFoot{
    position: absolute;
    bottom: -20px;
    left: 5%;
    font-size: 12px;
    color: #999;
}
.login>h2{
    font-size: 18px;
    font-weight: bold;
    color: #2B2B2B;
}
.login>h3{
    font-size: 12px;
    color: #ADABAB;
    margin-bottom: 20px;
}
.loginChoice{
    display: flex;
    justify-content: space-between;
}
.loginChoice>li{
    width: 50%;
}
.loginChoice>li>a{
    display: block;
    width: calc(100% - 10px);
    background-color: #999;
    opacity: .9;
    border-radius: 10px;
    margin-top: 10px;
    box-sizing: border-box;
}
.loginChoice>li>a:hover{
    background-color: #FFBB00;
    transition: 0.2s;
}
.loginChoice>li>a>figure{
    width: 100%; padding-top: 85%;
    margin: auto;
    border-radius: 20%;
    background-size: 90% 90%;
    background-repeat: no-repeat;
    background-position: center center;
}
.loginChoice1{background-image: url(../img/login1.png);}
.loginChoice2{background-image: url(../img/login2.png);}

.loginChoice>li>a>p{
    white-space: nowrap;
    font-size: 16px;
    color: #fff;
    text-align: center;
    line-height: 40px;  
}
@media only screen and (max-width: 540px){
    .loginSec{
        width: 100%;
        padding: 0 30px;
        box-sizing: border-box;
    }
    .login{
        width: 100%;
        padding: 60px 70px;
        box-sizing: border-box;
    }
    .login>ul{
        margin-top: 30px;
    }
    .loginFoot{
        bottom: -px;
        left: 4%;
        font-size: 10px;
        white-space: nowrap;
    }
}