.main_1200{
    width: 1200px;
    margin: auto;
}
.P_100{
    padding-top: 200px;
}
.M_100{
    margin-top: 200px;
}
/**********MAIN START**********/
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner_txt>h5{
    display: flex;
    flex-direction: column;
    font-size: 24px;
    font-weight: 100;
    color: #FFD664;
}
.banner_txt>h2{
    display: flex;
    flex-direction: column;
    font-size: 70px;
    font-weight: 700;
    color: #FFBB00;
    line-height: 120%;
}
[class^="bannerImg-"]{
    width: 800px; height: 534px;
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
}
.bannerImg-1{background-image: url(../img/imgFile.png);}
.bannerImg-2{background-image: url(../img/imgFile-2.png);}
.bannerImg-3{background-image: url(../img/imgFile-3.png);}

.swiper-pagination{
    text-align: right;
    font-size: 14px;
    color: #494949;
    padding-right: 30px;
    box-sizing: border-box;
}
.swiper-pagination-current{
    font-size: 18px;
    font-weight: 600;
    color: #2B2B2B;
}
/**********/
.mainRecoman{
    position: relative;
    margin-top: 55px;
}
.mainRecoman ul{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #FFBB00;
    padding: 25px 80px;
    box-sizing: border-box;
    border-radius: 3px;
}
.mainRecoman ul>li>a{
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainRecoman ul>li>a:hover>p{
    text-decoration: underline;
}
.mainRecoman ul>li>a>p{
    margin-right: 10px;
    font-size: 22px;
    font-weight: 500;
    color: #fff;
    white-space: nowrap;
    text-align: center;
}
.mainRecoman ul>li>a>span{
    display: block;
    width: 24px; height: 24px;
    background-image: url(../img/cir_next.png);
}
/**********/
.orange_section{
    width: 100%;
    margin-top: 100px;
    padding: 90px 0;
    background-color: #FFD664;
}
.orange_section>article>h2{
    font-size: 40px;
    font-weight: bold;
    color: #2B2B2B;
    text-align: center;
}
.orange_section>article>h5{
    color: #494949;
    text-align: center;
}
.application{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.application>div{
    width: 345px;
    padding: 70px 50px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 3px;
}
.application>div>h4{
    font-size: 40px;
    font-weight: bold;
    color: #494949;
    text-align: center;
    line-height: 120%;
}
.application>div>figure{
    width: 250px; height: 250px;
    margin: 50px 0;
    border-radius: 5px;
    background-size: 100% 100%;
}
.application-1{
    background-image: url(../img/part-1.png); 
    background-color: rgba(255, 187, 0, .5);
}
.application-2{
    background-image: url(../img/part-2.png); 
    background-color: #fff8e5;
}

.application>div:last-child{
    margin-left: 60px;
    background-color: #494949;
}
.application>div:last-child>h4{
    color: #fff;
}
.application>div>div>a{
    display: flex;
    align-items: center;
    justify-content: center;
    /****/
    padding: 8px 0;
    border: 3px solid #FFBB00;
    border-radius: 3px;
    font-size: 24px;
    font-weight: 600;
    color: #FFBB00;
}
.application>div:nth-child(2)>div>a{
    border: 3px solid #fff;
    color: #fff;
}
.application>div>div>a>span{
    display: block;
    width: 20px; height: 15px;
    background-image: url(../img/arrow.png);
    background-size: 100% 100%;
    background-position: center;
    margin-left: 10px;
}
.application>div:nth-child(2)>div>a>span{
    background-image: url(../img/arrow_w.png);
}
/**********/
.recoman>h2{
    font-size: 40px;
    font-weight: bold;
    color: #2B2B2B;
}
.recoman>h5{
    font-size: 16px;
    color: #ADABAB;
}
.recoman_i{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}
.recoman_i>ul{
    display: flex;
    flex-wrap: wrap;
}
.recoman_i>ul>li{
    cursor: pointer;
    display: block;
    width: 150px; height: 75px;
    margin-right: 15px;
    margin-bottom: 15px;
    border: 1px solid rgba(73, 73, 73, .5);
    border-radius: 45px;
    font-size: 18px;
    color: rgba(73, 73, 73, .5);
    line-height: 75px;
    text-align: center;
}
.recoman_i>ul>li:hover{
    background-color: #FFD664;
    border: 1px solid #fff;
    color: #fff;
    transition: 0.3s;
}
.recoman_i>ul>li:focus{
    scale: (0.7);
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%);
}
.recoman_i>ul>.recomanO{
    color: #fff;
    border: 1px solid #FFBB00;
    background-color: #FFBB00;
}
.recoman_i>figure{
    width: 100%;
}
.recoman_i>figure>img{
    width: 100%; padding-bottom: 60%;
    border-radius: 3px;
    background-size: 100% 100%;
    background-position: center;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%);
}
.recoman_img1{background-image: url(../img/food_1.jpg);}
.recoman_img2{background-image: url(../img/food_2.jpg); display: none;}
.recoman_img3{background-image: url(../img/food_3.jpg); display: none;}
.recoman_img4{background-image: url(../img/food_4.jpg); display: none;}
.recoman_img5{background-image: url(../img/food_5.jpeg); display: none;}
.recoman_img6{background-image: url(../img/food_6.jpg); display: none;}
.recoman_img7{background-image: url(../img/food_7.jpg); display: none;}
.recoman_img8{background-image: url(../img/food_8.jpg); display: none;}
.recoman_img9{background-image: url(../img/food_9.jpg); display: none;}
/********/

.direction_txt>h2{
    font-size: 40px;
    font-weight: bold;
    color: #2B2B2B;
}
.direction_txt>h5{
    color: #ADABAB;
}
.main_direction>figure{
    position: relative;
    width: 80%; height: 400px;
    margin: auto;
    margin-top: 40px;
    background-image: url(../img/main_666.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    border-radius: 3px;
    border: 2px solid #FFBB00;
}
/**/
.gallery{
    position: relative;
    width: 100%;
    padding-bottom: 700px;
    overflow: hidden;
}
.gallery_top{
    position: relative;
    width: 1200px;
    margin: auto;
}
.gallery_top>figure>img{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.gallery_top>h2{
    font-size: 40px;
    font-weight: bold;
    color: #222;
    text-align: center;
}
.gallery_top>h5{
    margin-bottom: 40px;
    color: #ADABAB;
    text-align: center;
}
.gallery_top>p>a{
    position: absolute;
    right: 0; top: 150px;
    color: #999;
}
.gallery_top>p>a:hover{
    text-decoration: underline;
}
.gallery_bottom{
    display: flex;
    justify-content: flex-start;
}
.gallery_bottom>a{
    height: 250px;
    background-size: 100% 80%;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #000;
    border-radius: 20px;
}
.gallery_bottom>a>div{
    display: none;
}
.gallery_bottom>a:hover>div{
    position: relative;
    display: block;
    width: 100%; height: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.7);
}
.gallery_bottom>a:hover>div>p{
    color: #fff;
    line-height: 300px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.gallery_bottom>a:hover>div>span{
    position: absolute;
    left: 50%; top: 40%;
    transform: translate(-50%, -50%);
    display: block;
    width: 50px; height: 50px;
    background-image: url(../img/library_books_FILL0_wght400_GRAD0_opsz48.png);
}
/**/
.gallery_bottom_img1{
    background-image: url(../img/g1.jpg);
}
.gallery_bottom_img2{
    background-image: url(../img/g2.jpg);
}
.gallery_bottom_img3{
    background-image: url(../img/g3.jpg);
}
.gallery_bottom_img4{
    background-image: url(../img/g4.jpg);
}
.gallery_bottom_img5{
    background-image: url(../img/g5.jpg);
}
.gallery_bottom_img6{
    background-image: url(../img/g6.jpg);
}
.gallery_bottom_img7{
    background-image: url(../img/g7.jpg);
}
.gallery_bottom_img8{
    background-image: url(../img/g8.jpg);
}
.gallery_bottom_img9{
    background-image: url(../img/g9.jpg);
}
.galleryPagination{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.swiper-pagination-bullet{
    width: 10px; height: 10px;
}
.swiper-pagination-bullet-active{
    background-color: #FFBB00;
}
/****/
.orange_section_2{
    width: 100%;
    background-color: #FFCF4C;
}
.orange_section_2>article{
    width: 1200px;
    margin: auto;
    padding: 90px 0;
}
.orange_section_2>article>h2{
    font-size: 40px;
    font-weight: bold;
    color: #2B2B2B;
}
.orange_section_2>article>h5{
    color: #494949;
    margin-bottom: 20px;
}
.news{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.news>li{
    width: calc(33.333% - 10px);
    background-color: #fff;
    padding: 40px 30px;
    box-sizing: border-box;
}
.news>li>a>h6{
    font-size: 18px;
    font-weight: 500;
    color: #FFBB00;
    margin-bottom: 20px;
}
.news>li>a>h3{
    font-size: 28px;
    font-weight: bold;
    color: #494949;
    margin-bottom: 50px
}
.news>li>a>p{
    color: #ADABAB;
    margin-bottom: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.news>li>a>span{
    display: flex;
    align-self: center;
    justify-content: space-between;
}
.news>li>a>span>p{
    font-size: 14px;
    line-height: 40px;
    color: #999;
}
.news>li:hover{
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%);
    scale: 1.03;
}
.news>li:hover>a>span>img{
    animation: rotate 1s;
}
@keyframes rotate {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
@media only screen and (max-width: 1200px){
    .main_1200{
        width: 100%;
        box-sizing: border-box;
        padding-left: 30px; padding-right: 30px;
    }
    .banner_txt>h5{
        font-size: 20px;
    }
    .banner_txt>h2{
        font-size: 60px;
    }
    .banner>figure{
        width: 70%; height: auto;
        padding-top: 45%;
    }
    /**********/
    .mainRecoman ul>li>a>p{
        margin-right: 8px;
        font-size: 18px;
    }
    /**/
    .recoman>h2{
        font-size: 40px;
        font-weight: bold;
        color: #2B2B2B;
    }
    .recoman>h5{
        font-size: 16px;
        color: #ADABAB;
    }
    .recoman_i{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 40px;
    }
    .recoman_i>ul{
        display: flex;
        flex-wrap: wrap;
    }
    .recoman_i>ul>li{
        cursor: pointer;
        display: block;
        width: 150px; height: 75px;
        margin-right: 15px;
        margin-bottom: 15px;
        border-radius: 45px;
        font-size: 18px;
        line-height: 75px;
        text-align: center;
    }
    .recoman_i>ul>li:hover{
        background-color: #FFD664;
        border: 1px solid #fff;
        color: #fff;
        transition: 0.3s;
    }
    .recoman_i>ul>li:first-child{
        color: #fff;
        border: 1px solid #FFBB00;
        background-color: #FFBB00;
    }
    .recoman_i>figure{
        width: 100%;
    }
    .recoman_i>figure>img{
        width: 100%; padding-bottom: 276px;
        border-radius: 3px;
        background-size: 100% 100%;
        background-position: center;
    }
    .recoman_img1{background-image: url(../img/food_1.jpg);}
    .recoman_img2{background-image: url(../img/food_2.jpg); display: none;}
    .recoman_img3{background-image: url(../img/food_3.jpg); display: none;}
    .recoman_img4{background-image: url(../img/food_4.jpg); display: none;}
    .recoman_img5{background-image: url(../img/food_5.jpg); display: none;}
    .recoman_img6{background-image: url(../img/food_6.jpg); display: none;}
    .recoman_img7{background-image: url(../img/food_7.jpg); display: none;}
    .recoman_img8{background-image: url(../img/food_8.jpg); display: none;}
    .recoman_img9{background-image: url(../img/food_9.jpg); display: none;}
    /**/
    .direction{
        width: 100%;
        margin: auto;
        padding: 0 20px;
        box-sizing: border-box;
    }
    /**/
    .gallery{
        padding-bottom: 500px;
    }
    /**/
    .gallery_top{
        width: 100%;
        margin: auto;
        padding: 20px;
        box-sizing: border-box;
    }
    /**/
    /**/
    .orange_section_2>article{
        width: 100%;
        padding: 90px 20px;
        box-sizing: border-box;
    }
    .news>li>h3{
        font-size: 24px;
        margin-bottom: 30px
    }
    .news>li>p{
        margin-bottom: 100px;
    }
}
/***MAIN START***/
@media only screen and (max-width: 940px){
    /*****/
    .orange_section{
        width: 100%;
        margin-top: 40px;
        margin-top: 80px;
    }
    .orange_section>article{
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
    }
    .orange_section>article>h2{
        font-size: 30px;
    }
    .orange_section>article>h5{
        font-size: 13px;
    }
    .application{
        display: flex;
        justify-content: space-around;
        margin-top: 50px;
    }
    .application>div{
        width: calc(50% - 20px);
        padding: 50px 30px;
    }
    .application>div:last-child{
        margin-left: 10px;
    }
    .application>div>h4{
        font-size: 4vmin;
        font-weight: bold;
        color: #454545;
        text-align: center;
        line-height: 120%;
    }
    .application>div>figure>img{
        width: 100%;
        height: auto;
        border-radius: 5px;
        margin: 30px 0;
    }
    .application>div>div>a{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3vmin;
        border: 3px solid #FFBB00;
        border-radius: 5px;
        color: #FFBB00;
    }
    .application>div>div>a>span{
        display: none;
    }
    .application>div>div>a:hover{
        background-color: #FFBB00;
        color: #fff;
        transition: background-color 0.6s;
    }
    .application>div>div>a:hover>span{
        background-image: url(../img/arrow_w.png);
    }
    /**/
    .recoman>h2{
        font-size: 30px;
        text-align: center;
    }
    .recoman>h5{
        font-size: 13px;
        text-align: center;
    }
    .recoman_i{
        flex-direction: column-reverse;
    }
    .recoman_i>ul{
        width: 100%;
        justify-content: space-between;
    }
    .recoman_i>ul>li{
        width: 30%;
    }
    .recoman_i>ul>li>a{
        width: 100%;
        height: 42px;
        line-height: 42px;
        font-size: 1.5vmin;
        margin-right: 0px;
        margin-bottom: 15px;
    }
    .recoman_i>figure{
        width: 100%;
    }
    .recoman_i>figure>img{
        width: 100%;
        height: auto;
        margin-bottom: 30px;
    }
    /*****/
    .main_direction{
        width: 100%;
    }
    .main_direction>a>figure{
        width: 290px; height: 150px;
        background-image: url(../img/main_2.png);
        background-repeat: no-repeat;
        background-size: 90% 90%;
        background-position: center center;
    }
    .main_direction>a{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #d9d9d9;
        border-radius: 5px;
        padding: 20px 20px;
        box-sizing: border-box;
    }
    .direction_txt{
        width: 50%;
    }
    .direction_txt>h5{
        font-size: 16px;
        white-space: nowrap;
    }
    .direction_txt>h2{
        font-size: 30px;
        white-space:nowrap;
    }
    .direction>a>figure{
        width: 50%;
        height: auto;
        padding-top: 30%;
    }
    /*****/
    .gallery_top>h2{
        font-size: 30px;
    }
    .gallery_top>h5{
        font-size: 16px;
    }
    .gallery_top>p>a{
        position: absolute;
        font-weight: bold;
        color: #777;
        right: 0;
        top: 180px;
        right: 20px;
    }
    /*****/
    .gallery {
        padding-bottom: 350px;
    }
    .gallery>div{
        overflow: auto;
    }
    /**/
    .gallery_top{
        width: 100%;
        margin: auto;
        padding: 20px;
        box-sizing: border-box;
    }
    /*****/
    .orange_section_2>article>h2{
        font-size: 40px;
        font-weight: bold;
        color: #2B2B2B;
        margin-bottom: 40px;
    }
    .news{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .news>li>h3{
        font-size: 16px;
    }
    .news>li>p{
        margin-bottom: 60px;
    }
    .news img{
        width: 30px;
        height: 30px;
    }
    /**/
    .orange_section_2>article>div{
        overflow: auto;
    }
    ::-webkit-scrollbar{
        display: none;
    }
    .orange_section_2>article>h2{
        font-size: 30px;
        margin-bottom: 40px;
    }
    .news{
        width: 170%;
        overflow: auto;
    }
    .news>li>a>h3{
        font-size: 24px;
    }
    .news>li>p{
        font-size: 24px;
        color: #777;
        margin-bottom: 30px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}