/****MAIN START***/
.wriSec{
    width: 100%;
    margin: auto;
    background-color: #f2f2f2;
}
.wriArt{
    width: 1200px;
    margin: auto;
    padding: 3px 40px;
    padding-bottom: 70px;
    box-sizing: border-box;
}
.wriArt>h2{ 
    font-size: 24px;
    font-weight: bold;
    color: #222624;
    margin: 10px 0;
}
.checkwrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.checkNaPw{
    width: 40%;
    padding: 6px 0;
    background-color: #fff;
    border-radius: 7px;
    margin-right: 10px;
    border: 1px solid #d9d9d9;
    display: flex;
    align-items: center;
    color: #222624;
}
.checkwrap>div:last-child{
    margin-right: 0px;
}
.checkwrap>div>p{
    margin: 0 10px;
    font-size: 14px;
    color: #4d4d4d;
    white-space: nowrap;
}
.checkwrap>div>input{
    padding: 5px 0;
    border: none;
    outline: none;
    color: #222624;
    line-height: 20px;
}
.checkbutton{
    text-align: center;
}
.buttonG{
    cursor: pointer;
    width: 20%;
    margin-right: 10px;
    white-space: nowrap;
    border-radius: 7px;
    text-align: center;
    border: none;
    color: #fff;
    background-color: #767676;
    outline: none;
}
.button{
    cursor: pointer;
    display: block;
    background-color: #237fe9;
    padding: 10px 10px;
    color: #fff;
    white-space: nowrap;
    border-radius: 7px;
    outline: none;
    border: none;
    text-align: center;
}
/****/
.checkBox{
    display: flex;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
}
.checkBox>input{
    cursor: pointer;
    width: 20px; height: 20px;
}
.checkBox>p{
    font-size: 12px;
    color: #222624;
    margin: 0 2px;
}

/****/
.tittle{
    width: 100%;
    background-color: #fff;
    border-radius: 7px;
    border: 1px solid #d9d9d9;
    display: flex;
    align-items: center;
    color: #222624;
}
.tittle>p{
    margin: 0 10px;
    font-size: 14px;
    color: #4d4d4d;
    white-space: nowrap;
}
.TDwrap{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.tittle>input{
    width: 80%;
    padding: 12px 0 ;
    border: none;
    outline: none;
    color: #222624;
    line-height: 25px;
}
textarea{
    width: 100%;
    height: 550px;
    margin: 10px 0;
    padding: 20px;
    box-sizing: border-box;
    border: #d9d9d9;
    border-radius: 7px;
    outline: none;
    resize: none;
    color: #4d4d4d;
}
.download{
    width: 100%;
    height: 50px;
    background-color: #fff;
    border-radius: 7px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}
.download>div{
    width: 55px;
    height: 50px;
    border-radius: 7px 0 0 7px;
    background-color: #0075ff;
    display: flex;
    background-image: url(../img/icn_link.png);
    background-repeat: no-repeat;
    background-size: 60% 60%;
    background-position: center center;
}
.download>span>a{
    display: block;
    border-radius: 7px;
    background-color: #75b5fd;
    color: #fff;
    padding: 7px 15px;
    margin-left: 10px;
}
.button_wrap{
    display: flex;
    justify-content: flex-end;
    float: right;
}
.button_wrap>.button:first-child>a{
    background-color: #b3b3b3;
}
.button_wrap>.button:last-child>a{
    margin-left: 10px;
}
@media only screen and (max-width: 1200px){
    .wri{
        width: 100%;
    }
    .wri_wrap{
        width: 100%;
    }
    .top>div>p{
        margin: 0 7px;
        font-size: 14px;
        color: #4d4d4d;
    }
    .top>div>input{
        width: 60%;
        padding: 5px 0;
        border: none;
        outline: none;
        color: #222624;
        line-height: 20px;
    }
    .top>div:nth-child(2)>input{
        width: 60%;;
    }
    .tittle>input{
        width: 90%;
        padding: 7px 0 ;
        border: none;
        outline: none;
        color: #222624;
        line-height: 25px;
    }
}
@media only screen and (max-width: 940px){
    /**/
    .wri{
        width: 100%;
    }
    .wri_wrap{
        width: 100%;
        margin: auto;
        padding: 20px 20px;
        padding-bottom: 70px;
        box-sizing: border-box;
    }
    .top>div>p{
        margin: 0 5px;
        font-size: 14px;
        color: #4d4d4d;
    }
    .top>div>p{
        font-size: 5px;
    }
    .top>div>input{
        width: 30%;
        padding: 5px 0;
        border: none;
        outline: none;
        color: #222624;
        line-height: 20px;
    }
    .top>div:nth-child(2)>input{
        width: 40%;
    }
    .tittle>input{
        width: 80%;
        padding: 7px 0 ;
        border: none;
        outline: none;
        color: #222624;
        line-height: 25px;
    }
    /*****/
    .foot>nav{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: 0px solid #777777;
    }
    .foot_ver{
        display: flex;
    }
    .city>li>a{
        font-size: 8px;
        margin-right: 4px;
    }
    .city>li>a:first-child{
        margin-left: 4px;
    }
}